
.report-scores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    margin-bottom: 10px;
}
.report-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

@media screen and (max-width:  550px) {
.report-scores{
    grid-template-columns: 1fr;
}
.report-list-container{
    grid-template-columns: 1fr;
}
}