
.profile-header{
    display:flex;
    background-color:white;
    margin-bottom: 10px;
    padding: 1rem ;
    gap:10px;
    
}

.ph-username{
    color:#284b63c7;
    font-size:1.5rem;
}
.ph-extras{
    display:flex;
    align-items:center;
    gap:10px;

}

.dashboard-global,.dashboard-send{
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 10px;
margin-bottom: 10px;
}
.db-send, .db-global {
    background-color:white;
}


@media screen and (max-width: 850px) {
.dashboard-global{
    grid-template-columns: 1fr 1fr;
}
.db-g-1,.db-g-2,.db-g-3,.db-g-4,.db-g-5{
    grid-column: auto;
}
}