.text-area-container{
    width: 100%;
    margin: 10px 0;
}
.text-area-wrapper{
    display: flex;
}
.text-area-space{
    flex-grow: 1;   
}
.text-area-actions{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ta-action{
    margin-bottom: 5px ;
}

.fp-display-desk-flex{
    display: flex;
}
.fp-display-mobile{
    display: none;
}
@media screen and (max-width: 500px) {
.fp-display-desk-flex{
    display: none;
}
.fp-display-mobile{
    display: flex;
}
.text-area-actions{
    flex-direction: row;
    justify-content: center;
    gap:10px;    
    margin: 10px 0;
}
}