.dynamic-chart-container{

    background-color: white;
}
.bias-chart-options{
    gap:30px;
    padding:10px ;
}

.bias-chart-axis{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}