.search-options{
    width:50%;
}
.search-actions{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
.search-options{
    width:100%;
}
}