.comments-container{
    min-height: 50vh;
    background-color: white;
    padding: 10px 0;
}
.user-comment{
    min-height: 10vh;
    margin: 0 10px 20px 10px;

}
.user-text{    
    display: grid;
    grid-template-columns: auto 9fr;
    gap:10px;
}
.user-avatar{
    display:grid;
    align-items:center;
}
.comment-username > #c-username{
    font-size: 0.9rem;
    font-weight: 500;
    color:#284b63; 
}
.comment-username > #c-date{
    font-size: 0.7rem;
    color:#284b63c7; 
}
